<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testinggrounds">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.testinggrounds.MainActivity" >

        </activity>
        <activity android:name=".PlayPauseWPShuffle" />
        <activity
            android:name=".OpenCurrentWP"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".WPWidget"
            android:label="Full">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wpwidget_info" />
        </receiver> <!-- <uses-library android:name="com.google.android.things" /> -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisableWifi"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ChangeWallpaper_Activity"
            android:theme="@style/Theme.Transparent"
            android:launchMode= "singleInstance" />

        <receiver
            android:name=".WidgetTest"
            android:label="Forward_Btn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_test_info" />
        </receiver>
    </application>

</manifest>